// Navigation code here

.top {
    background-color: @nav-bg;
    overflow: hidden;
    position:fixed;
    width: 100%;

    @media(max-width: 500px) {
        width: 100%;
        nav {
            display: flex;
            justify-content: space-between;
        }
    }

    
    
    .top-content {
        .mainlayout;
        padding: 15px;
        text-align: center;
        border: @nav-border;

       
        
        h1 {
            font-size: 3.2rem;
            margin-bottom: 15px;
        }

        

        
            
        

        nav a {

            .navbtn(0 15px, none, 1.2rem, @nav-font);
            
            

            &:hover {
                color: red;
            }
            
        }
    }
}